# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
build/
dist/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# PDF documents
*.pdf
backend/seed_candidates.py
backend/testing_jobs/
backend/src/testing_resumes/
backend/mlg_testing/
